<%- include('partials/header') %>
<h3>Dashboard</h3>
<a href="/choice">New Entry</a>
<br>
<br>

<!-- Options to see the posts -->
<div class="show-posts">
    <form action="/morningPosts" method="post">
        <button type="submit">Morning Reflections</button>
    </form>
    <br>
    <form action="/eveningPosts" method="post">
        <button type="submit">Evening Reflections</button>
    </form>
    <br>
    <form action="/freePosts" method="post">
        <button type="submit">Posts</button>
    </form>
    <br>
    <form action="/reflectionPosts" method="post">
        <button type="submit">Reflection Posts</button>
    </form>
</div>

<!-- Displaying posts section -->

<!-- morning -->
<% if (displayPostChoice == "morning") { %>
 <% morningReflection.forEach(reflection => { %>
    <h3><%= reflection.day %> </h3>
    <p><%= reflection.highlight %>
    <a href="/morning-reflection/<%= reflection.day %> ">read more</a>
    </p>
 <%}); %> 
<% } %>

<!-- evening reflection -->
<% if (displayPostChoice == "evening") { %>
    <% eveningReflection.forEach(reflection => { %>
       <h3><%= reflection.day %> </h3>
       <p><%= reflection.betterDay %> 
        <a href="/evening-reflection/<%= reflection.day %>">Learn more </a>
    </p>
    <%}); %> 
   <% } %>

<!-- normal posts -->
<% if (displayPostChoice == "journal") { %>
    <% posts.forEach(post => { %>
       <h3><%= post.title %> </h3>
       <p><%= post.content.substring(0,100) + "..." %>
    <a href="/posts/<%= post.title %> ">Learn more</a> </p>
    <%}); %> 
   <% } %>

<!-- reflection posts -->
<% if (displayPostChoice == "reflection") { %>
    <% questionReflection.forEach(reflection => { %>
       <h3><%= reflection.question %> </h3>
       <p><%= reflection.answer %> 
        <a href="/stoic-reflection/<%= reflection.question%> ">read more</a>
    </p>
    <%}); %> 
   <% } %>

 <%- include('partials/footer') %> 