<%- include('partials/header') %>

<h1><%= reflection.day %> </h1>
<h3>Three things that happened today?</h3>
<p><%= reflection.threeThings %> </p>
<br>
<h3>How could I have made today better?</h3>
<p><%= reflection.betterDay %> </p>

<%- include('partials/footer') %> 