<%- include('partials/header') %>

<div class="output-container">
    <h2><%= reflection.day %> </h2>
    <br>
    <br>
    <h4>I am Gratefull for</h4>
    <p>
        <%= reflection.gratitude %> 
    </p>
    <br>
    <br>
    <h4>What would make today great?</h4>
    <p>
        <%= reflection.great %> 
    </p>
    <br>
    <br>
    <h4>Dailt Highlight Task</h4>
    <p>
        <%= reflection.highlight %> 
    </p>
</div>